body
{
  background-color: #f1f1f1;
  margin: 5px;
}

#banner
{
  background: url(title_right.gif) no-repeat top right;
  height: 76px;
}

#header img
{
  margin: 0px;
  padding: 0px;
}

#metanav
{
  position: absolute;
  top: 10px;
  right: 10px;
}

#search
{
  display: none;
}

#mainnav
{
  border-color: #6d6d6d;
}

#licqnav
{
  position: absolute;
  left: 5px;
  margin-top: 1ex;
  background: #fff url(menu_top.gif) no-repeat top left;
  width: 176px;
  padding-top: 29px;
}

#licqsearch
{
  border-width: 1px 2px 2px 2px;
  text-align: center;
  margin: 0px;
  padding: 1ex 0ex;
}

#licqnav ul, #licqsearch
{
  border-color: #6d6d6d;
  border-style: solid;
}

#licqnav ul
{
  margin: 0px;
  padding-bottom: 1ex;
  padding-left: 6ex;
  list-style-image: url(flower.gif);
  border-width: 0px 2px 0px 2px;
}

#licqnav ul :hover
{
  list-style-image: url(flower_hover.gif);
}

#licqnav li a
{
  border: 0px;
  color: #55654F;
}

#licqnav li a:hover
{
  background-color: transparent;
}

#main, #footer
{
  margin: 1ex 0 1ex 189px;
  background-color: #fff;
  padding: 1ex 1ex 3ex 1ex;
  border: 2px solid #6d6d6d;
}

#content
{
  padding: 1ex;
}

#footer
{
  padding: 1ex;
  border-width: 1px;
}
