[Desktop Entry]
Encoding=UTF-8
Exec=licq
Icon=licq
Name=Licq
Name[eo]=LICQ
Name[fa]=لیسک
Name[hi]=एलआईसीक्यू
Name[xx]=xxLicqxx
Comment=Instant Messenger
GenericName=Instant Messenger
GenericName[af]=Icq Kliënt
GenericName[ar]=عميل ICQ
GenericName[az]=ICQ Proqramı
GenericName[be]=Кліент ICQ
GenericName[bg]=Клиент за ICQ
GenericName[bn]=আই.সি.কিউ ক্লায়েন্ট
GenericName[bs]=ICQ klijent
GenericName[ca]=Client ICQ
GenericName[cs]=ICQ klient
GenericName[cy]=Dibynnydd ICQ
GenericName[da]=ICQ-klient
GenericName[de]=ICQ Programm für Unix
GenericName[el]=Πελάτης ICQ
GenericName[eo]=ICQ-kliento
GenericName[es]=Cliente ICQ
GenericName[et]=ICQ klient
GenericName[eu]=ICQ Bezeroa
GenericName[fa]=کارگیر ICQ
GenericName[fi]=ICQ-asiakasohjelma
GenericName[fr]=Client ICQ
GenericName[ga]=Cliant ICQ
GenericName[gl]=Cliente de ICQ
GenericName[he]=לקוח ICQ
GenericName[hi]=आईसीक्यू क्लाएंट
GenericName[hr]=ICQ klijent
GenericName[hu]=ICQ-kliens
GenericName[id]=Klien ICQ
GenericName[is]=Tengjast ICQ-spjallkerfinu
GenericName[it]=Client ICQ
GenericName[ja]=ICQクライアント
GenericName[ko]=ICQ 클라이언트
GenericName[lo]=ໄຄແອັນ ICQ
GenericName[lt]=ICQ klientas
GenericName[lv]=ICQ Klients
GenericName[mk]=ICQ клиент
GenericName[mn]=ICQ-Програм
GenericName[mt]=Klijent ICQ
GenericName[nb]=ICQ-klient
GenericName[nl]=ICQ-cliënt
GenericName[nn]=ICQ-klient
GenericName[nso]=Moreki wa ICQ
GenericName[pl]=Klient ICQ
GenericName[pt]=Cliente de ICQ
GenericName[pt_BR]=Cliente ICQ
GenericName[ro]=Client de ICQ
GenericName[ru]=Клиент ICQ
GenericName[se]=ICQ-klienta
GenericName[sk]=ICQ klient
GenericName[sl]=Odjemnik za ICQ
GenericName[sr]=ICQ клијент
GenericName[sr@Latn]=ICQ klijent
GenericName[ss]=Likhasimende le ICQ 
GenericName[sv]=ICQ-klient
GenericName[ta]=Netscape Messenger
GenericName[tg]=Коргири ICQ
GenericName[th]=ไคลเอนต์ ICQ
GenericName[tr]=ICQ istemcisi
GenericName[uk]=Клієнт ICQ
GenericName[uz]=ICQ клиенти
GenericName[ven]=Mushumisani wa ICQ
GenericName[vi]=Trình chat ICQ 
GenericName[wa]=Cliyint ICQ
GenericName[xh]=Umxhasi we ICQ
GenericName[xx]=xxICQ Clientxx
GenericName[zh_CN]=ICQ 客户程序
GenericName[zh_TW]=ICQ 客戶端程式
GenericName[zu]=Umxhasi we-ICQ
Path=
Terminal=0
TerminalOptions=
Type=Application

Categories=Network;InstantMessaging
Name[cs]=Licq
Name[de]=Licq
Name[hu]=Licq
Name[it]=Licq
Name[ja]=Licq

X-DCOP-ServiceName=licq
ServiceTypes=DCOP/InstantMessenger
